.about {
  max-width: 800px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  animation: slideUp 1s ease;
    color: var(--text-color);
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.about p {
  font-size: 1.1rem;
  color: var(--text-color);
  margin-bottom: 1rem;
  line-height: 1.6;
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
